{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur PhotosDeVacances.fr</h1>
<h2>Qu'est-ce qu'une expérience ?</h2>

<p>C'est une activité qui va bien au-delà d'un simple atelier ou d'une visite guidée classique. Les expériences sont conçues et animées par des hôtes locaux dans le monde entier. Mettez en valeur votre ville, votre savoir-faire, votre culture ou une cause qui vous est chère en organisant votre propre expérience.</p>
 {% endblock %}